# {{ ansible_managed }} 

# Configuration options for the dropbear-initramfs boot scripts.

DROPBEAR_OPTIONS="-p {{ dropbear_port }} {{ dropbear_options }}"

# Interface pattern to bring down before continuing boot
# "*" brings down all interfaces, "none" keeps them up

IFDOWN="{{ dropbear_ifdown }}"

# Maximum number of seconds to wait (while the network/dropbear are
# being configured) at init-bottom stage before terminating dropbear and
# bringing the network down.

DROPBEAR_SHUTDOWN_TIMEOUT={{ dropbear_shutdown_timeout }}
